<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <title>Subir imagen a persistencia</title>
</head>
<body>
    <form id="uploadForm" hx-post="/uploadImage" hx-target=".status" hx-swap="innerHTML" enctype="multipart/form-data">
        <input type="file" id="myFile" name="file" accept=".jpg,.jpeg,.png" required>
        <input type="submit" value="Subir imagen">
    </form>
    <div class="status"></div>
</body>
</html>

<script>
    window.addEventListener('load', function() {
        var fileInput = document.getElementById('myFile');
        fileInput.value = '';
    });
</script>
